* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* landing page/banner page styling */
header {
    background-image: url(./images/banner/banner3.png);
    width: 1600px;
    height: 800px;
}

.banner-heading {
    font-weight: 700;
    font-size: 65px;
    text-align: right;
    padding-top: 216px;
    padding-right: 230px;
    padding-left: 845px;
    color: #FFFFFF;
}

.banner-text {
    text-align: right;
    color: #FFFFFF;
    padding-top: 24px;
    padding-right: 230px;
    padding-left: 876px;
}

.btn-white {
    margin-top: 32px;
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    margin-left: 1210px;
    margin-right: 230px;
    margin-top: 32px;
    margin-bottom: 166px;
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border-style: none;
}

/* failure section */
.failure {
    display: flex;
    width: 1072px;
    height: 723px;
}

.failure-image {
    margin-top: 131px;
    margin-left: 206px;
    width: 569px;
    height: 723px;
}

.failure-doc {
    margin-top: 370px;
    margin-left: 87px;
}

.failure-doc h1 {
    font-Weight: 700;
    font-size: 40px;
    color: #151414;
    width: 288px;
}

.failure-text {
    margin-top: 24px;
    color: #444343;
    width: 416px;
}

ul li {
    margin-top: 16px;
    list-style: none;
    width: 349px;
    content: '\2714\0020';
    margin-left: -38px;
}

ul li:before {
    content: '\2714\0020';
    color: #16D887;
}